/* Style for the form */
#inputFields {
    display: none;
}
.filler {
  margin-bottom: auto;
}

.movies-header {
  text-align: center;
  font-size: 60px;
  margin-top: 50px; /* Adjust margin as needed */
  font-family: 'Anton', sans-serif; /* Apply Anton font */
}