body {
    background-image: url('../images/homepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.homeimagetext {
    margin-top: 10%;
}
.jumbotron {
    background-color: transparent;
    color: white;
    text-shadow: 0 0 3px black;
    flex: 1;
}
.main-text {
    font-weight: bolder;
}
/* .help-list-head {
    font-size: 1.2em;
    font-weight: 100;
}
.help-list {
    padding-left: 125px;
}
.help-list-ul {
    list-style-type: none;
}
.help-list .help-list-item {
    margin-top: 20px;
} */
