    .box-container {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        flex: 1;
    }


    .box {
        width: 370px;
        height: 370px;
        background-color: #343a40; /* Dark color matching navbar */
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: transform 0.3s ease;
        margin: 50px; /* Add margin for space */
        color: #f8f9fa; /* Off-white text color */
    }



    /* Hover effect */
    .box:hover {
        transform: translateY(-20px); /* Move up slightly on hover */
    }

    /* Text styling */
    .box h2 {
        margin: 0;
        color: #333;
        font-size: 24px;
        font-weight: bold;
        color: #f8f9fa; /* Off-white text color */
    }

    .box p {
        margin: 10px 0;
        color: #666;
        font-size: 18px;
        color: #f8f9fa; /* Off-white text color */
    }

    .movies-header {
        text-align: center;
        font-size: 60px;
        margin-top: 50px; /* Adjust margin as needed */
        font-family: 'Anton', sans-serif; /* Apply Anton font */
    }

    .orange-box {
        background-color: #FF9933;
    }

    .blue-box {
        background-color: #006ef5;
    }

    .green-box {
        background-color: #228B22;
    }